<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <title>Node Magic Mirror</title>
  </head>
  <body>
    <div class="flex-row top">
      <div class="flex-column">
        <div id="current-date" class="current-date"></div>
        <div class="hours-min-sec">
          <span id="current-time" class="current-time"></span><sup id="current-seconds" class="current-seconds"></sup>
        </div>
        <div>
          Kompliment
        </div>
      </div>
      <div class="flex-column">
        <div>
          Prognoza
        </div>
        <div id="current-weather"></div>
        <i class="wi wi-night-sleet"></i>
        <ul id="forecast-days"></ul>
      </div>
    </div>
    <div class="flex-row">
      <div id="latest-news" class="flex-column news">
        <p id="latest-news-date"></p>
        <h1 id="latest-news-title"></h1>
        <p id="latest-news-content"></p>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
  </body>
</html>
