<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <title>Node Magic Mirror</title>
  </head>
  <body>
    <div class="flex-row top">
      <div class="flex-column">

          <div id="current-date" class="current-date"></div>
          <div class="hours-min-sec">
            <span id="current-time" class="current-time"></span><sup id="current-seconds" class="current-seconds"></sup>
          </div>

        <div class="flex-row motivation">
            <h3 class="left-heading">ПОРУКА ЗА ТЕБЕ</h3>
        </div>
        <div class="flex-row">
          <div class="flex-column quote">
            <div id="motivation-quote" class="motivation-quote"></div>
            <div id="motivation-author" class="motivation-author"></div>
          </div>
        </div>
      </div>
      <div class="flex-column">
        <div class="flex-row main-weather">
          <i id="weather-icon" class=""></i>
          <span id="current-weather" class="current-weather"></span>
          <i class="wi wi-degrees degrees-big"></i>
        </div>
        <div class="flex-row second-row">
          <i id="wind-icon"></i>
          <i id="wind-strength"></i>
        </div>
        <div class="flex-row forecast">
          <h3>ПРОГНОЗА</h3>
        </div>
        <div id="forecast-days-row" class="flex-row">
          <div id="forecast-days-column" class="flex-column forecast-days-column"></div>
        </div>
      </div>
    </div>
    <div class="flex-row news-row">
      <div id="latest-news" class="flex-column news">
        <p id="latest-news-date"></p>
        <h1 id="latest-news-title"></h1>
        <p id="latest-news-content"></p>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="../js/client.js"></script>
  </body>
</html>
