$black: #000;
$white: #fff;

body {
    background: $black;
    color: $white;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.flex-column {
    flex-direction: column;
}
