$black: #000;
$white: #fff;
$gray: #888;

body {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: $black;
    color: $white;
    font-family: 'Ubuntu', sans-serif;
}

.current-date {
    color: $gray;
    font-size: 1.5em;
}

.hours-min-sec {
    display: flex;
}

.current-time {
    font-size: 3em;
    font-weight: 400;
}

.current-seconds {
    color: $gray;
    font-size: 2em;
    font-weight: 100;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.top {
    height: 600px;
 }

.flex-column {
    display: flex;
    flex-direction: column;
}

.news {
    width: 600px;
    text-align: center;

    p {
        font-weight: 100;
    }
}

.main-weather {
    align-items: center;
    justify-content: flex-end;
}

.current-weather, .degrees-big {
    font-size: 3em;
}

.weather-icon {
    padding-right: 15px;
    font-size: 2em;
}

.second-row {
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
    font-weight: 100;
}

.wind-icon {
    padding-right: 10px;
    font-size: 2em;
}

h3 {
    font-weight: 100;
    text-align: right;
}

.left-heading {
    font-weight: 100;
    text-align: left;
}

.forecast {
    justify-content: flex-end;
    padding-top: 50px;
    border-bottom: thin solid $white;
}

.motivation {
    @extend .forecast;
    justify-content: flex-start;
}

.forecast-days-column {
    width: 200px;
    padding-top: 20px;
}

.forecast-days-column > .flex-row {
    padding: 5px 0;
}

.quote {
    width: 350px;
    padding-top: 20px;
    font-weight: 100;
}

.motivation-author {
    padding-top: 10px;
    font-size: small;
    font-weight: 900;
    text-align: right;
}

.flex-basis {
    flex-basis: 20%;
}

.text-align-right {
    text-align: right;
}

.fixed-width {
    width: 20px;
    text-align: center;
}

.news-row {
    justify-content: center;
}
